
$font: 		'Montserrat', sans-serif;
$yellow:	#FFFF89;
$black:		#1C110A;
$white:		#FFFFFF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// elements

body {
	// background: repeating-linear-gradient( 180deg, #efefef, #efefef 12px, #fff 12px, #fff 24px);
	background: $yellow;
	color: $black;
	font-family: $font;
	font-size: 18px;
	line-height: 24px;
	padding: 36px 0;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	line-height: 36px;
	margin-bottom: 36px;
}

h2 {
	font-size: 1.4em;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 24px;
}

p {
	margin-bottom: 12px;
}

img, video {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0 0 24px -40px;
}

a {
	color: $black;
	text-decoration: underline;

	&:hover, &:focus {
		color: $black;
		text-decoration: none;
	}
}

// layout

h1 span {
	display: block;
}

.thumbnail {
	margin-bottom: 24px;

	.thumbnail-img {
		background-size: cover;
		height: calc(12px * 15);
	}

	.thumbnail-cover {
		background: rgba($black, 0.95);
		color: $white;
		display: block;
		font-size: 18px;
		line-height: 24px;
		padding: 12px;
		text-decoration: none;

		h2 {
			font-size: inherit;
			font-weight: 300;
			line-height: inherit;
			margin: 0;
		}
	}
}


.single {
	p:last-child {
		margin-bottom: 24px;
	}
	.post {
		p {
			margin-bottom: 24px;
		}
		figure {
			background: $black;
			border: 4px solid $black;
			margin-bottom: 24px;

			img:nth-child(n+2){
				margin-top: 5px;
			}

			figcaption {
				color: $white;
				font-size: 0.8em;
				line-height: 24px;
				padding: 8px 6px 6px;
			}
		}
	}
}

@keyframes fadeInUp {
	0% { opacity: 0; transform: translate3d(0, 12px, 0); }
	100% { opacity: 1; transform: none; }
}

.content .fadeIn, .post .fadeIn { animation: fadeInUp ease-in 1; animation-fill-mode: forwards; animation-duration: 300ms; opacity: 0; }
.content .fadeIn.one, .post .fadeIn { animation-delay: 450ms; }
.content .fadeIn.two, .post .fadeIn { animation-delay: 600ms; }
.content .fadeIn.three, .post .fadeIn { animation-delay: 750ms; }
.content .fadeIn.four, .post .fadeIn { animation-delay: 900ms; }
.content .fadeIn.five, .post .fadeIn { animation-delay: 1050ms; }

@media (min-width: 992px) { 
	.thumbnail {
		margin-bottom: 0;

		.thumbnail-img {
			background-size: cover;
			height: calc(12px * 27);
			margin-left: -15px;
			width: calc(100% + 30px);
		}

		.thumbnail-cover {
			bottom: 0;
			height: 0;
			font-size: 1.4em;
			left: 0;
			line-height: 36px;
			position: absolute;
			transition: height .25s ease;
			width: 100%;

			h2 {
				display: none;
			}
		}

		&:hover {
			.thumbnail-cover {
				height: 100%;

				h2 {
					display: block;
				}
			}
		}
	}

	.single {
		.post {
			figure {
				min-width: calc(100% + 30px);
				margin: 0 0 24px -15px;
			}
		}
	}
}












