@import "reset";
@import "include-media";

$breakpoints: (	
	'small': 576px, 
	'medium': 768px,
	'large': 992px,
	'xlarge': 1200px
);

.container {
	// display: flex;
	// margin: 0 auto;
	// padding: 0 24px;

	.row {
		display: grid;
		grid-template-columns: repeat(16, 1fr);

		// .col {
		// 	grid-column: span 16;
		// }
	}
}

// @include media(">=small") {
// 	.container {
// 		max-width: 540px;
// 		padding: 0;
// 	}
// }

// @include media(">=medium") {
// 	.container {
// 		max-width: 720px;
// 	}
// }

// @include media(">=large") {
// 	.container {
// 		max-width: 960px;
// 	}
// }

// @include media(">=xlarge") {
// 	.container {
// 		max-width: 1140px;
// 	}
// }