@import url('https://fonts.googleapis.com/css?family=Chivo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font:    			'Chivo', sans-serif;
$grey-primary:		#6B6A6A;
$grey-light:		#F2F2F2;
$red-primary:		#F92401;
$black: 			#000000;
$white:				#FFFFFF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// elements

body {
	color: $grey-primary;
	font-family: $font;
	font-size: 18px;
	line-height: 24px;
}

img {
	background: $grey-light;
	max-width: 100%;
}

a {
	transition: color 0.2s ease;
}

::-webkit-input-placeholder, 
:-ms-input-placeholder,
::-moz-placeholder,
:-moz-placeholder {
	color: $red-primary;
}

// layout

.header {
	background: $grey-light;
	padding: 0;

	img {
		height: 84px;
		width: 84px;
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 0;
	}

	ul {
		font-weight: bold;
		font-size: 0.9em;
		line-height: 24px;
		list-style: none;
		padding-left: 0;
		text-transform: uppercase;

		a {
			color: $grey-primary;

			&:focus, &:active, &:visited {
				color: inherit;
			}

			&:hover {
				color: $red-primary;
				text-decoration: none;
			}
		}
	}

	button {
		background: none;
		border: none;
		padding: 0;

		i {
			padding: 12px;
		}

		&:active, &:focus {
			outline: none;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.mobile-menu {
	background: $grey-light;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 48px;
	list-style: none;
	padding: 24px;
	position: absolute;
	text-transform: uppercase;
	top: 84px;
	z-index: 1000;

	a {
		color: $grey-primary;

		&:focus, &:active, &:visited {
			color: inherit;
		}

		&:hover {
			color: $red-primary;
			text-decoration: none;
		}
	}
}

.content {
	&.home {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;

		.row {
			flex-flow: row;
			padding: calc(12px * 4) 0;
		}
	}

	.post {
		padding: 0 24px;

		img {
			box-shadow: 0 0 10px rgba($black, 0.25);
			transition: box-shadow 0.2s ease;

			&:hover {
				box-shadow: 0 0 15px rgba($black, 0.35);
			}
		}

		h2 {
			font-size: 2.66em;
			font-weight: bold;
			line-height: 48px;
			margin-bottom: 12px;

			a {
				color: $grey-primary;

				&:active, &:focus, &:visited {
					color: inherit;
				}

				&:hover {
					color: $red-primary;
					text-decoration: none;
				}
			}
		}

		p {
			margin-bottom: 12px;
		}

		blockquote {
			border-left: 3px solid lighten($grey-primary, 25%);
			color: lighten($grey-primary, 10%);
			margin-bottom: 12px;
			padding: 6px 12px;

			p:last-child {
				margin-bottom: 0;
			}
		}

		.post-meta {
			margin-top: 12px;

			.post-category {
				color: rgba($grey-primary, 0.75);
				font-size: 0.8em;
				font-weight: bold;
				line-height: 24px;
			}

			.post-date {
				color: rgba($grey-primary, 0.75);
				font-size: 0.8em;
				line-height: 24px;
			}
		}
	}

	&.single {
		overflow-y: scroll;

		.row {
			height: auto;
			max-height: none;
			padding: calc(12px * 4) 0;
		}

		h2 {
			margin-bottom: 24px;
		}

		a {
			color: $red-primary;

			&:focus, &:active, &:visited {
				color: $red-primary;
			}

			&:hover {
				color: $red-primary;
				text-decoration: underline;
			}
		}

		img {
			box-shadow: none;
			height: auto;
			margin-bottom: 12px;

			&:hover {
				box-shadow: none;
			}
		}

		figcaption {
			color: rgba($grey-primary, 0.75);
			font-size: 0.8em;
			font-style: italic;
			line-height: 24px;
			margin-bottom: 12px;
		}
	}

	form {
		input, textarea {
			@include border-radius(2px);
			padding: 11px 12px;

			&:active, &:focus {
				border: 1px solid lighten($grey-primary, 20%);
				box-shadow: none;
			}
		}

		textarea {
			min-height: 114px;
		}

		input[type="submit"] {
			background: lighten($grey-primary, 20%);
			border: none;
			padding: 12px;

			&:hover {
				background: $grey-primary;
				cursor: pointer;
			}
		}
	}
}

.footer {
	background: $grey-light;
	padding: 24px;
}

.subscribe-title {
	font-size: 0.9em;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 12px;
}

.subscribe {
	height: 48px;
	margin-bottom: 12px;

	input {
		font-size: 0.9em;
	}

	.mc-field-group {
		float: left;
		width: calc(100% - 48px);
	}

	.clear {
		float: left;
	}

	input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border: 1px solid $white;
		@include border-radius (2px 0 0 2px);
		color: $grey-primary;
		padding: 11px;
		width: 100%;

		&:active, &:focus {
			border: 1px solid lighten($grey-primary, 20%);
			outline: none;
		}
	}

	input[type="submit"] {
		background: lighten($grey-primary, 20%);
		border: none;
		@include border-radius(0 2px 2px 0);
		color: $white;
		height: 48px;
		transition: background 0.2s ease;
		width: 48px;

		&:hover {
			background: $grey-primary;
			cursor: pointer;
		}
	}
}

.copyright {
	color: rgba($grey-primary, 0.75);
	font-size: 0.8em;
	line-height: 24px;
}

@media (min-width: 992px) {
	html, body {
		height: 100%;
		max-height: 100%;
		overflow: hidden;
	}

	.container-fluid, .row {
		height: 100%;
		max-height: 100%;
	}

	.header {
		height: 100%;
		padding: calc(12px * 4) 0;
		text-align: center;

		img {
			float: none;
			height: 240px;
			width: 240px;
		}
	}

	.content {
		&.single {
			img {
				max-width: 120%;
				width: 120%;
			}

			figcaption {
				width: 120%;
			}
		}
	}

	.subscribe {
		padding: 0 24px;
	}
}